.EditRecipeActions {
    display: none;
    text-align: center;
    border: solid 1px #FFFFFF30;
    background-color: #112728;
    backdrop-filter: blur(10px);
    padding: 1rem;
}

.EditRecipeActions_textContainer {
    display: grid;
    gap: 1rem;
}

.EditRecipeActions_header {
    font-size: 1.3rem;
    font-weight: 400;
}

.EditRecipeActions_addButton,
.EditRecipeActions_createButton {
    font-size: 1rem;
    border: solid 1px #FFFFFF30;
    background-color: #9f5922;
    color: #FFFFFF;
    width: 100%;
    padding: 0.5rem 1rem;
}

.EditRecipeActions_addButton:hover,
.EditRecipeActions_createButton:hover {
    cursor: pointer;
    border: solid 1px #FFFFFF;
}

.EditRecipeActions_buttonsContainer {
    display: grid;
    gap: 1rem;
}

.EditRecipeActions_addButtonsContainer {
    display: grid;
    gap: 0.5rem;
}


@media screen and (min-width: 850px) {
    
.EditRecipeActions {
    display: grid;
    gap: 1rem;
    place-content: center;
}

}

@media screen and (min-width: 1650px) {
 
.EditRecipeActions_addButtonsContainer {
    grid-template-columns: 1fr 1fr;
}

}