.CreateRecipeNavbar {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    padding-bottom: 0;
}

.CreateRecipeNavbar_returnButton {
    color: #FFFFFF;
}

.CreateRecipeNavbar_createButton {
    font-size: 0.8rem;
    border: solid 1px #FFFFFF30;
    background-color: #9f5922;
    color: #FFFFFF;
    padding: 0.1rem 0.2rem;
}

.CreateRecipeNavbar > .Loading {
    font-size: 0.8rem;
}

.CreateRecipeNavbar > .Loading > svg {
    width: 1.3rem;
}

@media screen and (min-width: 850px) {
    .CreateRecipeNavbar_createButton {
        display: none !important;
    }
}
