.EditRecipeNavbar {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    padding-bottom: 0;
}

.EditRecipeNavbar_returnButton {
    color: #FFFFFF;
}

.EditRecipeNavbar_createButton {
    font-size: 0.8rem;
    border: solid 1px #FFFFFF30;
    background-color: #9f5922;
    color: #FFFFFF;
    padding: 0.1rem 0.2rem;
}

@media screen and (min-width: 850px) {
    .EditRecipeNavbar_createButton {
        display: none;
    }
}
