.RecipeOption {
    position: relative;
    border: solid 1px #FFFFFF;
    padding-bottom: 2rem;
}

.RecipeOption:hover {
    cursor: pointer;
    border: solid 1px #9f5922;
}

.RecipeOption:hover > div > p {
    color: #9f5922;
}

.RecipeOption_textOverlay {
    display: grid;
    gap: 0.2rem;
    padding: 0.2rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #112728;
    border-top: solid 1px #FFFFFF30;
}

.RecipeOption_text {
    color: #FFFFFF;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 850px) {
    .RecipeOption {
        padding-bottom: 4rem;
    }
    .RecipeOption_text {
        font-size: 1rem;
    }
}