.VideoSearchResult {
    position: relative;
    border: solid 1px #FFFFFF30;
    padding-bottom: 2rem;
}

.VideoSearchResult_textOverlay {
    display: grid;
    gap: 0.2rem;
    padding: 0.2rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #112728;
    border-top: solid 1px #FFFFFF30;
}

.VideoSearchResult_text {
    color: #FFFFFF;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}