.InstructionsSection {
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: .5rem;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.InstructionsSection_header {
    font-size: 1rem;
}

.InstructionsSection_table {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: .5rem;
    padding: 0 0.5rem;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.InstructionsSection_buttonsContainer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-top: solid 1px #000000;
    padding: 0.5rem;
}

.InstructionsSection_button {
    border: solid 1px #000000;
    padding: 0.1rem;
}

.InstructionsSection_button:hover {
    background-color: blue;
    color: white;
}

.InstructionsSection_resultsTest {
    font-size: 0.8rem;
}


