/* Instructions Section Styling */

.InstructionsSection {
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: .5rem;
}

.InstructionsSection_header {
    font-size: 1rem;
}

.InstructionsSection_table {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: .5rem;
}

.InstructionsSection_buttonsContainer {
    display: flex;
    column-gap: 1rem;
    min-height: 40px;
    align-items: center;
    border-top: solid 1px #000000;
}

.InstructionsSection_button {
    border: solid 1px #000000;
}

.InstructionsSection_button:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
}

/* Instruction Item Styling */

.InstructionItem {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    column-gap: 1rem;
    text-align: center;
    border: solid 1px #000000;
}

.InstructionItem:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
}

/* Instruction Details Styling */

.InstructionDetails {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    row-gap: .5rem;
}

.InstructionDetails_buttonContainer {
    display: flex;
}

.InstructionDetails_backButton {
    font-style: italic;
}

.InstructionDetails_topRow {
    display: flex;
    justify-content: space-between;
}

.InstructionDetails_descriptionContainer {
    display: grid;
    grid-template-columns: auto 1fr;
}

.InstructionDetails_ingredientsContainer {
    display: grid;
    grid-template-columns: auto 1fr;
}

.InstructionDetails_itemsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.InstructionDetails_item {
    display: flex;
    justify-content: space-between;
}

.InstructionDetails_description,
.InstructionDetails_itemsContainer {
    border: solid 1px #000000;
}