.VideoSection {
    display: flex;
    flex-direction: column;
}

.VideoSection_header {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

iframe {
    width: 100%;
    max-width: 1400px;
    aspect-ratio: 16 / 9;
    border: solid 1px #FFFFFF30;
}