.VideoSearchForm {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.VideoSearchForm_input {
    border: none;
    background-color: #112728;
    color: #FFFFFF;
    font-size: 1rem;
}

.VideoSearchForm_submit {
    background-color: transparent;
    border: solid 1px #FFFFFF;
    background-color: #112728;
}

.VideoSearchForm_submit:hover {
    cursor: pointer;
}