.VideoSearchForm {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.VideoSearchForm_input {
    border: none;
    background-color: #112728;
    color: #FFFFFF;
    font-size: 1rem;
    border: solid 1px #FFFFFF30;
    padding: 0 0.5rem;
}

.VideoSearchForm_submit {
    border: solid 1px #FFFFFF30;
    background-color: #112728;
    font-size: 1rem;
}

.VideoSearchForm_submit:hover {
    cursor: pointer;
}