.EditRecipeVideoSection {
    display: grid;
    gap: 0.5rem;
}

.EditRecipeVideoSection_titleInputContainer {
    display: flex;
    gap: 0.5rem;
}

.EditRecipeVideoSection_titleInput {
    border: solid 1px #FFFFFF30;
    background-color: #112728;
    color: #FFFFFF;
    font-size: 1rem;
    max-width: 250px;
}

.EditRecipeVideoSection_iframe {
    border: solid 1px #FFFFFF30;
}

@media screen and (min-width: 500px) {
    .EditRecipeVideoSection_titleInput {
        max-width: none;
    }
    
}