.RegisterForm {
    display: grid;
    place-content: center;
    position: relative;
    max-height: 100vh;
    overflow: hidden;
    background-image: url('../../assets/background.webp');
    background-size: cover;
    background-position: center;
}

.RegisterForm_form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    color: #FFFFFF;
    z-index: 2;
    border: solid 1px #FFFFFF30;
    background-color: #070b0b90;
    backdrop-filter: blur(10px);
    padding: 1rem 3rem;
}

.RegisterForm_header {
    font-size: 2rem;
}

.RegisterForm_inputContainer {
    display: flex;
    justify-content: center;
}

.RegisterForm_input {
    border: solid 1px #FFFFFF30;
    background-color: #112728;
    color: #FFFFFF;
    font-size: 1rem;
    padding: 1rem;
    max-width: 200px;
}

.RegisterForm_inputContainer {
    display: flex;
    justify-content: space-between;
}

.RegisterForm_button {
    font-size: 1rem;
    border: solid 1px #FFFFFF30;
    padding: 0.5rem;
    background-color: #9f5922;
    color: #FFFFFF;
    width: 100%;
}

.RegisterForm_button:hover {
    cursor: pointer;
    border: solid 1px #FFFFFF;
}

.RegisterForm_error {
    text-align: center;
    max-width: 200px;
    justify-self: center;
}

.RegisterForm_loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.RegisterForm_loadingSvg {
    width: 2rem;
    height: 100%;
}

@media screen and (min-width: 500px) {
.RegisterForm_input {
    max-width: none;
}
}