.RegisterForm {
    padding: 1rem 2rem;
}

.RegisterForm_form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

.RegisterForm_header {
    font-size: 2rem;
    text-align: center;
}

.RegisterForm_input {
    border: none;
    border-bottom: solid 1px #000000;
    width: 100%;
}

.RegisterForm_inputContainer {
    display: flex;
    justify-content: space-between;
}

.RegisterForm_button {
    background-color: transparent;
    border: solid 1px #000000;
    width: 100%;
}

.RegisterForm_button:hover {
    cursor: pointer;
    background-color: blue;
    color: #FFFFFF;
}