.RecipeList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem 5rem 0.5rem;
}

.RecipeList_searchContainer {
    display: flex;
    place-content: center;
    gap: 0.5rem;
}

.RecipeList_searchText {
    color: #FFFFFF
}

.RecipeList_search {
    border: none;
    background-color: #112728;
    color: #FFFFFF;
    font-size: 1rem;
    border: solid 1px #FFFFFF30;
}

.RecipeList_recipesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

