.RecipeList {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 0.5rem;
    overflow: hidden;
}

.RecipeList_searchContainer {
    display: flex;
    width: fit-content;
    justify-self: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    z-index: 2;
    border: solid 1px #FFFFFF30;
    background-color: #070b0b90;
    backdrop-filter: blur(10px);
    padding: 0.5rem;
}

.RecipeList_searchText {
    color: #FFFFFF
}

.RecipeList_search {
    border: none;
    background-color: #112728;
    color: #FFFFFF;
    font-size: 1rem;
    border: solid 1px #FFFFFF30;
}

.RecipeList_recipesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    height: min-content;
    justify-content: center;
    width: fit-content;
    justify-self: center;
}
