.RecipeList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem 5rem 0.5rem;
}

.RecipeList_searchContainer {
    display: flex;
    place-content: center;
    gap: 0.5rem;
}

.RecipeList_recipesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

