.AuthFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: solid 1px black;
    background-color: #FFFFFF;
}

.AuthFooter_button {
    background-color: #9f5922;
    color: #FFFFFF;
    border: solid 1px #FFFFFF;
    border-right: none;
    padding: 1rem 0;
}

.AuthFooter_button:hover {
    cursor: pointer;
    color:#112728;
}

.AuthFooter_button:last-child {
    border-right: solid 1px #FFFFFF;
}

.AuthFooter_active {
    color: #112728
}