.RecipeBookPage {
    display: grid;
    min-height: 100vh;
    background-color: #070b0b;
    color: #FFFFFF;
}

.RecipeBookPage_recipeContainer {
    display: grid;
    grid-template-rows: auto 1fr;
}

.RecipeBookPage_recipeListContainer {
    display: grid;
    grid-template-rows: auto 1fr auto;
}