.RecipeFooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    border-top: solid 1px #000000;
}

.RecipeFooter_button {
    background-color: #9f5922;
    color: #FFFFFF;
    border: solid 1px #FFFFFF;
    padding: 1rem 0;
}

.RecipeFooter_button:last-child {
    border-left: none;
}

.RecipeFooter_button:hover {
    cursor: pointer;
}