.RecipeFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
    border-top: solid 1px #000000;
}

.RecipeFooter_button {
    border: solid 1px #000000;
}

.RecipeFooter_button:hover {
    cursor: pointer;
    background-color: blue;
    color: white
}