.SampleNavbar {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    padding-bottom: 0;
}

.SampleNavbar_return {
    color: #FFFFFF
}

.SampleNavbar_register {
    font-size: 0.8rem;
    border: solid 1px #FFFFFF30;
    background-color: #9f5922;
    color: #FFFFFF;
    padding: 0.1rem 0.2rem;
}

.SampleNavbar_return:hover,
.SampleNavbar_register:hover {
    cursor: pointer;
}

.SampleNavbar_register:hover {
    border: solid 1px #FFFFFF;
}