.SampleNavbar {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    padding-bottom: 0;
}

.SampleNavbar_return {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: #FFFFFF
}

.SampleNavbar_svg {
    fill: #FFFFFF;
    height: 1rem;
    width: auto;
}

.SampleNavbar_return:hover {
    cursor: pointer;
    opacity: 0.5;
}

.SampleNavbar_register {
    font-size: 0.8rem;
    border: solid 1px #FFFFFF30;
    background-color: #9f5922;
    color: #FFFFFF;
    padding: 0.1rem 0.2rem;
}

.SampleNavbar_register:hover {
    cursor: pointer;
}

.SampleNavbar_register:hover {
    border: solid 1px #FFFFFF;
}

@media screen and (min-width: 850px) {

.SampleNavbar_return {
    font-size: 1rem;
}

.SampleNavbar_register {
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
}
}