.LoginForm {
    padding: 1rem 2rem;
}

.LoginForm_form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

.LoginForm_header {
    font-size: 2rem;
    text-align: center;
}

.LoginForm_input {
    border: none;
    border-bottom: solid 1px #000000;
    width: 100%;
}

.LoginForm_button {
    background-color: transparent;
    border: solid 1px #000000;
    width: 100%;
}

.LoginForm_button:hover {
    cursor: pointer;
    background-color: blue;
    color: #FFFFFF;
}