.LoginForm_form {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
}

.LoginForm_header {
    text-align: center;
    font-size: 1.5rem;
}

.LoginForm_inputContainer {
    display: flex;
    justify-content: space-between;  
}

.LoginForm_buttonsContainer {
    display: flex;
    place-content: center;
}