.IngredientsTable {
    display: grid;
    grid-template-rows: auto 6fr 1fr auto;
    gap: 0.5rem;
    padding: 0 0.5rem;
}

.IngredientsTable_header {
    font-size: 1rem;
}

.IngredientsTable_table {
    display: grid;
    grid-template-rows: repeat(6, 1fr);   
    row-gap: .5rem;
    padding: 0 0.5rem;
}

.IngredientsTable_button {
    border: solid 1px #FFFFFF;
    color: #FFFFFF;
    background-color: #112728;
    padding: 0 0.2rem;
}

.IngredientsTable_button:hover {
    cursor: pointer;
}

.IngredientsTable_addButton {
    font-size: 1rem;
    border: solid 1px #9f5922;
    background-color: #9f5922;
    color: #FFFFFF;
    width: 100%;
}

.IngredientsTable_resultsText {
    font-size: 0.8rem;
}

.IngredientsTable_pageButtonsContainer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-top: solid 1px #000000;
}

