.IngredientsTable {
    display: grid;
    gap: 0.5rem;
    padding: 0 0.5rem;
}

.IngredientsTable_header {
    font-size: 1rem;
    font-weight: 400;
}

.IngredientsTable_table {
    display: grid;
    row-gap: .5rem;
}

.IngredientsTable_button {
    border: solid 1px #FFFFFF30;
    color: #FFFFFF;
    background-color: #9f5922;
    padding: 0 0.2rem;
}

.IngredientsTable_button:hover {
    cursor: pointer;
    border: solid 1px #FFFFFF;
}

.IngredientsTable_addButton {
    font-size: 1rem;
    border: solid 1px #FFFFFF30;
    background-color: #9f5922;
    color: #FFFFFF;
    width: 100%;
}

.IngredientsTable_resultsText {
    font-size: 0.8rem;
}

.IngredientsTable_pageButtonsContainer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-top: solid 1px #000000;
}

@media screen and (min-width: 850px) {
    
.IngredientsTable_button {
    font-size: 1rem;
}

}

@media screen and (min-width: 1250px) { 

.IngredientsTable_table {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
}


}


