.IngredientItem {
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 0.5rem;
    border: solid 1px #000000;
    font-size: 0.8rem;
}

.IngredientItem_active {
    background-color: greenyellow;
}