.IngredientItem {
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 0.5rem;
    border: solid 1px #FFFFFF30;
    font-size: 0.8rem;
    background-color: #112728;
}

.IngredientItem_active {
    border: solid 1px #9f5922;
}