.SampleRecipe {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Instructions Section Styling */

.InstructionsSection {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.InstructionsSection_buttonsContainer {
    display: flex;
    column-gap: 1rem;
}

.InstructionsSection_button {
    border: solid 1px #000000;
}

.InstructionsSection_button:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
}

/* Instruction Item Styling */

.InstructionItem {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    column-gap: 1rem;
    text-align: center;
    border: solid 1px #000000;
}

.InstructionItem:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
}

/* Recipe Footer Styling */

.RecipeFooter {
    display: flex;
    justify-content: space-around;
}

.RecipeFooter_button {
    border: solid 1px #000000;
}

.RecipeFooter_button:hover {
    cursor: pointer;
    background-color: blue;
    color: white
}