.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #FFFFFF30;
    padding: 0.5rem;
    z-index: 2;
    background-color: #070b0b;
}

.Navbar_logo {
    display: flex;
    color: #FFFFFF;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}

.Navbar_logo:hover {
    cursor: pointer;
    opacity: 0.3;
}

.Navbar_image {
    width: 8rem;
    height: auto;
}

.Navbar_buttonsContainer {
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
}

.Navbar_button {
    font-size: 0.9rem;
    border: solid 1px #FFFFFF30;
    padding: 0.2rem 1rem;
    background-color: #9f5922;
    color: #FFFFFF;
}

.Navbar_button:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media screen and (min-width: 850px) {

.Navbar_logo {
    font-size: 2rem;
}

.Navbar_image {
    width: 10rem;
}

.Navbar_button {
    font-size: 1rem
}

}