.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #000000;
    padding: 0.5rem;
}

.Navbar_logo {
    border: solid 1px #000000;
    padding: 0.2rem 0.5rem;
}

.Navbar_logo:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
}

.Navbar_buttonsContainer {
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
}

.Navbar_button {
    border: solid 1px #000000;
    padding: 0.2rem 0.5rem;
}

.Navbar_button:hover {
    background-color: blue;
    color: white;
}