.CreateRecipeVideoSection {
    display: grid;
    gap: 0.5rem;
}

.CreateRecipeVideoSection_titleInputContainer {
    display: flex;
    gap: 0.5rem;
}

.CreateRecipeVideoSection_titleInput {
    border: none;
    background-color: #112728;
    color: #FFFFFF;
    font-size: 1rem;
}